body, html {
    background-repeat: repeat-x; background-attachment: fixed;
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
    }


/* Anchors */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
#main a { }
#main a:hover { }
#footer a:link, #footer a:visited { }


/* Paragraphs */
p { font-size: 15px; }
p.big { font-size: 200%; }


/* Divs */
div#header { padding-left: 20px; padding-right: 20px; margin-top: 2em; }
div#header img { margin-left: -2px; }
div#main {
    padding-left: 20px; padding-right: 20px;
    margin-top: 1em; padding-top: 0.5em; padding-bottom: 2em;
    min-height: 40em;
    }
div#footer {
    padding-left: 20px; padding-right: 20px; padding-top: 0.5em;
    border-bottom-width: 1px; border-bottom-style: solid;
    height: 4em;
    }
div#menubar {
    font-family: Arial, Helvetica, sans-serif; font-size: 15px;
    padding-top: 0.5em;
    }
div#footer-menu {
    font-family: Arial, Helvetica, sans-serif; font-size: 15px;
    }


/* Headings */
h1 { margin: 0; padding: 0; }
h2 {
    padding-bottom: 0.25em; margin-bottom: 0;
    font-size: 36px; letter-spacing: -0.03em;
    }
h3 {
    padding-bottom: 0.25em; margin-bottom: 0;
    font-size: 20px; letter-spacing: -0.03em;
    }


/* Forms */
input, select, textarea, ul {
    font-family: Arial, Helvetica, sans-serif; font-size: 16px;
    }
label {
    font-family: Arial, Helvetica, sans-serif; font-size: 14px;
    font-weight: bold; letter-spacing: -0.03em;
    }
div.label { margin-bottom: -8px; }
input { }
select { border-width: 1px; border-style: solid; width: 100%; }
.width-80 { width: 80%; }
.submit { border-width: 1px; border-style: solid; cursor: pointer; }
span.selected-item { }


/* Spans */
span.separator { }


/* Lists */
ul {
    list-style-image: none; list-style-position: outside;
    list-style-type: none;
    }
ul.errorlist { margin: 0px; padding: 0px; }
#footer ul { margin: 0px; padding: 0px; }
#footer ul li { display: inline; }
#urgent-radio ul { margin: 0; padding: 0; }
#urgent-radio ul li { display: inline; }
#urgent-radio ul li input { position: relative; top: -1px; }
#urgent-radio ul li label {
    font-family: Arial, Helvetica, sans-serif; font-size: 18px;
    font-weight: normal; position: relative; top: 6px;
    }
ul#flash-alerts {
    font-family: Arial, Helvetica, sans-serif; font-size: 18px;
    font-weight: normal; text-align: center;
    width: 100%; margin: 0 auto; padding: 0; font-size: 1.7em;
    line-height: 1em; list-style-type: none;
    }
ul#flash-alerts li {
    margin: 0px; padding: 5px 0px 8px 0px;
    border-bottom-width: 1px; border-bottom-style: solid;
    }
ul#flash-alerts li.error {
    border-bottom-width: 1px; border-bottom-style: solid;
    }
ul#flash-alerts li.confirm {
    border-bottom-width: 1px; border-bottom-style: solid;
    }


/* Tables */
table {
    font-family: Arial, Helvetica, sans-serif; font-size: 14px;
    font-weight: normal;
    }
tr.list-odd { }
tr.list-even { }
th { font-weight: bold; }
td {
    vertical-align: top; text-align: left; padding-top: 0; padding-bottom: 0;
    }
td.summary { font-weight: normal; width: 55%; }
td.summary span { }


/* General */
.center { text-align: center; }
.right { text-align: right; }
label.label-error { }


/* Override blueprint css */
table.ui-datepicker-calendar th { }


/* Index page clickable boxes */
/* IE does not like .boxed-in { min-height: 11em; } */
.boxed-in {
    padding: .8em; margin-bottom: 1em; border-width: 2px; border-style: solid;
    }
.boxed-in:hover { }
.issue-box-hover { cursor: pointer; }
.issue-box-hover a { }


/* Help dialog (and related) */
#helptext { font-size: 13px; }
#helptext p { margin-bottom: 0.5em; }
#helptext ul {
    list-style-image: none; list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0.5em;
    }
#helptext li { font-size: 14px; }
#help-container { }
#openhelp, #openhelp-separator { display: none; }
