{% extends "base.html" %}
{% load i18n %}
{% block metatitle %}{% trans "New issue" %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url startpage %}{% endblock %}
{% block javascript %}
  <script type='text/javascript'>
    $(document).ready(function() {
      {% include "base-document-ready.js" %}

      $("input[name='urgent']").click(function () {
        if($("input[name='urgent']:checked").val() == "1" ) {
          $("#urgency-notice").show();
        } else if ($("input[name='urgent']:checked").val() =="0") {
          $("#urgency-notice").hide();
        }
      });

      $("#due-date").datepicker({
        dateFormat: 'yy-mm-dd',
        duration: 0,
        defaultDate: ''
        });
    });
  </script>
{% endblock %}
{% block container %}
<form id="dummy" action="" method="post">
    <div class='span-10 last'>
        <div class="span-6">
            <h2>{% trans "New issue" %}</h2>
        </div>
        <div id="menubar" class='span-4 last right'>
            <span class="selected-item">{% trans "New issue" %}</span>
            <span class="separator">|</span>
            <a href="{% url list-issues %}">{% trans "Issue status" %}</a>
            <span class="separator">|</span>
            <a href="help.html">{% trans "Help" %}</a>
        </div>
    </div>


    <div class='span-3'>
        <div class='span-3 label last'>
            <label {% if form.reporter_name.errors %}class="label-error"{% endif %} for="id_reporter_name">{% trans "Name" %} *</label>
        </div>

        <div class='span-3 last'>
            {{ form.reporter_name }}
        </div>
    </div>
    <div class='span-4'>
        <div class='span-4 label last'>
            <label {% if form.reporter_email.errors %}class="label-error"{% endif %} for="id_reporter_email">{% trans "Email" %} *</label>
        </div>

        <div class='span-4 last'>
            {{ form.reporter_email }}
        </div>
    </div>
    <div class='span-3 last'>
        <div class='span-3 label last'>
            <label {% if form.reporter_phone.errors %}class="label-error"{% endif %} for="id_reporter_phone">{% trans "Phone" %}</label>
        </div>

        <div class='span-3 last'>
            {{ form.reporter_phone }}
        </div>
    </div>


    <div class='span-4'>
        <div class='span-4 label last'>
            <label {% if form.category.errors %}class="label-error"{% endif %} for="id_category">{{ category_name }} *</label>
        </div>

        <div class='span-4 last'>
            {{ form.category }}
        </div>
    </div>
    <div class='span-4'>
        <div class='span-4 label last'>
            <label {% if form.urgent.errors %}class="label-error"{% endif %} for="id_urgent">{% trans "Is this an emergency?" %}</label>
        </div>

        <div id="urgent-radio" class="span-4 last">
            {{ form.urgent }}
        </div>
    </div>
    <div class='span-2 last'>&nbsp;</div>


    <div style="display:none;" id="urgency-notice" class='span-10 last'>
        <div class='notice'>
            {% trans "You've marked this issue as an emergency. Are you certain that it can not wait?" %}
        </div>
    </div>


    <div class='span-10 last'>
        <div class='span-10 label last'>
            <label {% if form.summary.errors %}class="label-error"{% endif %} for="id_summary">{% trans "Summary" %} *</label>
        </div>
        <div class='span-10 last'>
            {{ form.summary }}
        </div>
    </div>


    <div class='span-10 last'>
        <div class='span-10 label last'>
            <label {% if form.description.errors %}class="label-error"{% endif %} for="id_description">{% trans "Description" %}</label>
        </div>
        <div class='span-10 last'>
            {{ form.description }}
        </div>
    </div>

    {% comment %}
    <div class='span-10 last'>
        <div class='span-10 label last'>
            <label {% if form.due_date.errors %}class="label-error"{% endif %} for="id_due_date">{% trans "Date you would want this completed? (yyyy-mm-dd)" %}</label>
        </div>
        <div class='span-2'>
            {{ form.due_date }}
        </div>
        <div class='span-6'>&nbsp;</div>
        <div class='span-2 last right'>
            <input class="submit" type="submit" value="{% trans "Send" %}" />
        </div>
    </div>
    {% endcomment %}
</form>
{% endblock %}
