{% extends "base.html" %}
{% load i18n %}
{% block metatitle %}{% trans "Issue registered" %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url startpage %}{% endblock %}
{% block container %}
<div class='span-10 last'>
    <div class="span-6">
        <h2>{% trans "Issue registered" %}</h2>
    </div>
    <div id="menubar" class='span-4 last right'>
        <a href="{% url create-issue %}">{% trans "New issue" %}</a>
        <span class="separator">|</span>
        <a href="{% url list-issues %}">{% trans "Issue status" %}</a>
    </div>
</div>

<div class='span-10 last prepend-top'>
    {{ description|safe }}
</div>
{% endblock %}
