{% extends "base.html" %}
{% load i18n %}
{% block metatitle %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url startpage %}{% endblock %}
{% block javascript %}
  <script type='text/javascript'>
    $(document).ready(function() {
      {% include "base-document-ready.js" %}

      $("#create-issue-box").hover(function() {
          $(this).addClass("issue-box-hover");
        }, function() {
          $(this).removeClass("issue-box-hover");
        })
        .click(function() {
            location.href = $("#create-issue-link").attr('href');
            return false;
        });
      $("#list-issues-box").hover(function() {
          $(this).addClass("issue-box-hover");
        }, function() {
          $(this).removeClass("issue-box-hover");
        })
        .click(function() {
            location.href = $("#list-issues-link").attr('href');
            return false;
        });
    });
  </script>
{% endblock %}
{% block container %}
<div class='span-10 last prepend-top'>
    {{ description|safe }}
</div>


<div class='span-10 last'>
    <p class="big center">
        {{ contact_info|safe }}
    </p>
</div>


<div class='span-2'>&nbsp;</div>
<div class='span-3'>
    <div id="create-issue-box" class="boxed-in rounded-corners">
        <h3 class="center"><a id="create-issue-link" href="{% url create-issue %}">{% trans "New issue" %}</a></h3>
        <p class="center">{% trans "Before creating an issue, check if it has already been reported." %}</p>
    </div>
</div>
<div class='span-3'>
    <div id="list-issues-box" class="boxed-in rounded-corners">
        <h3 class="center"><a id="list-issues-link" href="{% url list-issues %}">{% trans "Issue status" %}</a></h3>
        <p class="center">{% trans "See current status of reported issues." %}</p>
    </div>
</div>
<div class='span-2 last'>&nbsp;</div>
{% endblock %}
