{% extends "base.html" %}
{% load i18n %}
{% block metatitle %}{% trans "Issue status" %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url startpage %}{% endblock %}
{% block javascript %}
  <script type='text/javascript'>
    $(document).ready(function() {
        {% include "base-document-ready.js" %}

        /* Help handling */
        {% if helptext %}
        $("#help-container").hide()
        $("#openhelp-separator").show()
        $("#openhelp").show()
        $("#helptext").dialog({ width: 450,
                                position: ['right','top'],
                                autoOpen: false });
        $("#openhelp").click(function() {
            $('#helptext').dialog('open');
            return false;
        });
        {% endif %}
    });
  </script>
{% endblock %}
{% block container %}
<div class='span-10 last'>
    <div class="span-6">
        <h2>Ärendestatus</h2>
    </div>
    <div id="menubar" class='span-4 last right'>
        <a href="{% url create-issue %}">{% trans "New issue" %}</a>
        <span class="separator">|</span>
        <span class="selected-item">{% trans "Issue status" %}</span>
        {% if helptext %}
        <span id="openhelp-separator" class="separator">|</span>
        <a id="openhelp" href="help.html">{% trans "Help" %}</a>
        {% endif %}
    </div>
</div>


<div class='span-10 last'>
    <div class='span-4 label'>
        <label for="name">{% trans "Filter on" %} {{ category_name|lower }}</label>
    </div>
    <div class='span-6 last'>&nbsp;</div>

    <div class='span-4'>
        <form action="" method="get">
            <select class="width-80" name="filter">
                <option value=""></option>
                {% for category in categories %}
                <option value="{{ category.name }}"{% ifequal filter category.name %} selected="selected"{% endifequal%}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <input class="submit" type="submit" value="{% trans "OK" %}" />
        </form>
    </div>
    <div class='span-6 last'>&nbsp;</div>
</div>


<div class='span-10 last'>
    <table>
        <tr>
            <th>{% trans "Project" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Assigned to" %}</th>
            <th>{% trans "Summary" %}</th>
        </tr>
        {% for issue_id, issue_project, assigned_to, issue_date_submitted, issue_summary, issue_status in issue_list %}
        <tr class="{% cycle 'list-odd' 'list-even' %}">
            <td>{{ issue_project|safe }}</td>
            <td>{{ issue_date_submitted|safe }}</td>
            <td>{{ issue_status|capfirst }}</td>
            <td>{{ assigned_to }}</td>
            <td class="summary">
                {{ issue_summary }}
                {% if settings.MANTIS_ISSUE_LIST_BACKEND_ENABLED %}
                <span>(<a href="{{ settings.MANTIS_ISSUE_LIST_BACKEND_ISSUE_URL }}{{ issue_id }}">{% trans "issue #" %}{{ issue_id }}</a>)</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% if helptext %}
<div id="help-container" class='span-10 last'>
    <h3>{% trans "Help" %}</h3>
    <div id="helptext" title="{% trans "Help" %}">{{ helptext|safe }}</div>
</div>
{% endif %}
{% endblock %}
